/*------------------- General Styles------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
}


/* da cancellare dopo  */
body > *{

    min-height: 100px;
    border: 1px solid red;
}


/* --------------------  Utilities -------------------*/
/* ----------------------- Layout -------------------- */
:root{
    --bg-color-header-aside : #080B12 ;
    --main-color:#141922 ;
    --footer-color :#282828 ;
    --color-font-secondary :#797C80;
    --color-font-primary : white; 
    --gap : 1rem;
    --padding : 1rem; 
}


.button{
    border: none;
    border: 1px solid white;
    padding: 1rem 2rem ;
    color: var(--color-font-primary);
    border-radius: 50%;
}


/*------------------------- text --------------------- */




/*------------------------- Header --------------------- */
/* effetua l'upgrade + logo spotify  */






/*-----------------------   aside ---------------------- */
/* menu laterale  */



/*-----------------------   main ---------------------- */
/* ---------------- horizontal menu bar ---------------- */
.main-container{
    flex-grow: 1;
}


/*-----------------section 1 Recently played-------------------*/



/*---------------section 2 Create per John Dee-----------------*/





/*-------- Barra in basso per pulsanti pla-----------y */



/*--------------------- Responsive ---------------- */
/* ----------------------- Layout -----------------*/

