/*------------------- General Styles------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    /* background: white; */
    display: flex;
    flex-direction: column;
}


/* da cancellare dopo  */
body > *, .main-container > * {
    min-height: 80px;
    min-width: 80px;
    /* border: 1px solid red; */
}


/* --------------------  Utilities -------------------*/
/* ----------------------- Layout -------------------- */
:root{
    --bg-color-header-aside : #080B12 ;
    --main-color:#141922 ;
    --footer-color :#282828 ;
    --color-font-secondary :#797C80;
    --color-font-primary : white;
    --gap : 2rem;
    --padding : 1rem;
}

.main-content-container{
    width: 100%;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
.section-content{
    flex-grow: 1;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-grow: 1;
    flex-basis: 0;

}
.col-1-6{
    flex-basis: calc((100% / 6) - var(--gap));
    /* border: 1px solid red; */
    /* gap: var(--gap);  */
}
.img{
    width: 100%;
}

h2{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
h5{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
h3{
    padding: 0.5rem;
    padding: 0.5rem;

}

.small-font-size{
    font-size: 12px;
    color: grey;

}



/* --------------------la barra laterale----------------- */
.nav-bar{
    background-color: var(--bg-color-header-aside);
    display: flex;
    flex-direction: column; 
    padding: 1rem ;
    color: grey;
}


.logo{
    width: 10%;
    padding-left: 1rem;
    min-width: 120px;
    margin-bottom: 1rem;
}
.home{
    padding: 0.5rem;
    padding: 0.5rem;
}
.search{
    padding: 0.5rem;
    padding: 0.5rem;
}
.library{
    padding: 0.5rem;
    padding: 0.5rem;
}
.Create-playlist{
    padding: 0.5rem;
    padding: 0.5rem;
}
.install-app{
    padding: 0.5rem;
    padding: 0.5rem;
}
.artist-name{
    padding: 0.5rem;
    padding: 0.5rem;
}
.playlist-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.playlist{
    flex-grow: 1;
    overflow: auto;
}

.playlist ul{
    margin-left: 0.5rem;
}





/*------------------------- Header --------------------- */
/* effetua l'upgrade + logo spotify  */
.bg-color{
    background-color: var(--bg-color-header-aside);
    display: flex;
    justify-content: end;
    align-items: center;
}

.button{
    border: 1px solid;
    background-color: var(--bg-color-header-aside);
    padding: 0.5rem 2rem ;
    color: var(--color-font-primary);
    border-radius: 50px ;
    margin-right: 1rem;
    font-size: 10px;
}


header{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;



}


/*-----------------------   main ---------------------- */
/* ---------------- horizontal menu bar ---------------- */
.main-bg-color{
    background-color: var(--main-color);
}
.main-container{
    flex-grow: 1;
    overflow: auto;
    display: flex;
    width: 100%;
    
}

.nav-bar{
    width: 250px;
    flex-shrink: 0;
}


/* -------------------horizontal menu bar ------------------- */
.horizontal-menu-bar ul{
    display: flex;
    gap: var(--gap);
    font-size: 11px ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-font-secondary);
}

li{
    list-style: none;
}

.horizontal-menu-bar{
    display: flex;
    justify-content: center;
}
/*-----------------section 1 Recently played-------------------*/
.col-img{
    width: 90%;
}

.col-1-6 .text{
    text-align: center;
}


/*---------------section 2 Create per John Dee-----------------*/

.John-Dee small{
    margin-bottom: 2rem;
}


.John-Dee .col{
    flex-grow: 0;
    margin-top: 2rem;

}
.John-Dee img{
    width: 90%;
}
.John-Dee .small-font-size{
    color: grey;
}

/* -------------------Artisti più popolari -------------- */
.artisti-populari .col-1-6 {
    flex-grow: 0;
    margin-top: 2rem;
}

.circle-img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    width: 90%;
}



/*--------------- Barra in basso per pulsanti pla----------------y */



/*--------------------- Responsive ---------------- */
/* ----------------------- Layout -----------------*/
    @media screen and (max-width: 1101px ) {
    .container{
        width: 100%;
    }

    }

    @media screen and (max-width: 1100px ) {
        .main-content-container{
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    @media screen and (max-width: 700px ) {
        .main-content-container{
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    @media screen and (max-width: 600px ) {
        .main-content-container{
            flex-direction: column;
            row-gap: 2rem;
        }
    }

